{:enums
 {:granularity
  {:values [:seconds :minutes :hours :days :weeks :months :years :alltime]}

  :aggregation
  {:values [:first :last :minimum :maximum :mean]}}

 :scalars
 {:date
  {:parse :date/parse
   :serialize :date/serialize}

  :timestamp
  {:parse :timestamp/parse
   :serialize :timestamp/serialize}}

 :objects
 {:item
  {:fields {:id {:type ID
                 :resolve :item/id}
            :name {:type String
                   :resolve :item/name}}}

  :menu
  {:fields {:date {:type :date}
            :listed_items {:type (list :item_listing)
                           :resolve :menu/listed-items
                           :args {:ids {:type (list ID)}}}}}

  :item_listing
  {:fields {:item {:type :item}
            :snapshots {:type (list :snapshot)
                        :resolve :item-listing/snapshots
                        :args {:precision {:type :granularity :default-value :alltime}
                               :window_start {:type :timestamp}
                               :window_end {:type :timestamp}}}}}

  :snapshot
  {:fields {:timestamp {:type :timestamp}
            :quantity {:type Int
                       :resolve :snapshot/quantity
                       :args {:aggregation {:type :aggregation :default-value :last}}}
            :hidden {:type Boolean
                     :resolve :snapshot/hidden
                     :args {:aggregation {:type :aggregation :default-value :last}}}
            :average_rating {:type Float
                             :resolve :snapshot/average-rating
                             :args {:aggregation {:type :aggregation :default-value :last}}}
            :review_count {:type Int
                           :resolve :snapshot/review-count
                           :args {:aggregation {:type :aggregation :default-value :last}}}}}}

 :queries
 {:menu {:type :menu
         :args {:date {:type :date}}
         :resolve :query/menu}}}
